body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#calculatorContainer{
    background-color: grey;
    width: 280px;
    height: auto;
    position: relative;
    border: 1px solid;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

#screen{
    position: relative;
    background-color: white;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.btn{
    position: relative;
    margin: auto;
    flex-grow: 4;
    height: 50px;
    font-weight: bold;
    width: 23.93%;
}

.center{
    text-align: center;
}