body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculatorContainer{
    background-color: yellow;
    width: 280px;
    height: auto;
    position: relative;
    border: 1px solid;
    padding: 2px;
    border-radius: 3px;
}

#screen{
    position: relative;
    background-color: green;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
}

.btn{
    position: relative;
    margin: auto;
    width: 23%;
    height: 50px;
}

.center{
    text-align: center;
}